.hero{:style => "background-image: url(#{image_path "hero/about.png"})"}
.submenu
  %ul
    = link_to :about_index do
      %li{:class => params[:action] == "index" ? "current" : ""} Information

    = link_to :about_officers do
      %li{:class => params[:action] == "officers" ? "current" : ""} Officers

    = link_to :about_advisor do
      %li{:class => params[:action] == "advisor" ? "current" : ""} Advisor

    = link_to :about_index do
      %li{:class => params[:action] == "contact" ? "current" : ""} Contact Us

    %li.page ABOUT
.content
  = yield