!!!
%html
  %head
    %title UC Berkeley IEEE
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrapper
      .header
        .logo-cal.vertically-centered
          = link_to image_tag('logo_main.png'), :root
        .navigation
          %ul
            %li.main
              %a{:href => "#"} EVENTS
            %li.option
              %a{:href => "#"} All Events
            %li.option
              %a{:href => "#"} Calendar
            %li.option &nbsp
            %li.option &nbsp

          %ul
            %li.main
              %a{:href => "#"} INDUSTRY
            %li.option
              %a{:href => "#"} Information
            %li.option
              %a{:href => "#"} Sponsors
            %li.option
              %a{:href => "#"} Donate
            %li.option &nbsp

          %ul
            %li.main
              %a{:href => "#"} H.O.P.E
            %li.option
              %a{:href => "#"} About
            %li.option
              %a{:href => "#"} Programs
            %li.option
              %a{:href => "#"} Resources
            %li.option
              %a{:href => "#"} FAQ

          %ul  
            %li.main
              = link_to "ABOUT", :about_index
            %li.option
              = link_to "Information", :about_index
            %li.option
              = link_to "Officers", :about_officers
            %li.option
              = link_to "Advisor", :about_advisor
            %li.option
              %a{:href => "#"} Contact

          %ul
            - if user_signed_in?
              %li.main
                = link_to current_user.first_name, :officer_index
              %li.option
                = link_to "Profile", :officer_index
              %li.option
                = link_to "Settings", :officer_settings
              %li.option
                = link_to 'Log Out', :destroy_user_session, :method => :delete
              %li.option
                - if current_user.is_administrator?
                  = link_to "Administer", :admin_root
                - else
                  &nbsp

            - else  
              %li.main
                = link_to "LOGIN", :new_user_session
              %li.option
                = link_to "Officer", :new_user_session
              %li.option &nbsp
              %li.option &nbsp
              %li.option &nbsp
      = render "preamble"

      .push
    .footer-wrapper
      .footer
        .copyright.vertically-centered
          .logo-national
            = link_to image_tag('logo_kite.png'), :root
          %p 2013 UC Berkeley IEEE
        .media.vertically-centered
          %form
            %input.text-field{:placeholder => "Enter email to join our mailing list"}
            %button.icon{:type => "submit"}
              %span.icon-heart{"aria-hidden" => "true"}
          %p No spam. We promise.